<script defer src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6/dist/fuse.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
    integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
    crossorigin="anonymous"
></script>

{{ $searchScript := resources.Get "js/search.js" | minify | fingerprint }}
<script defer src="{{ $searchScript.RelPermalink }}" integrity="{{ $searchScript.Data.Integrity }}"></script>
